<!--
<section class="hero">
  <h1>Mbayang NDAO</h1>
  <h2>Développeuse Full Stack</h2>

  <p class="stack">
    Angular · Django · Spring Boot
  </p>

  <p class="intro">
    Je conçois des applications web robustes, maintenables et orientées métier.
  </p>

  <div class="actions">
    <a routerLink="/projets" class="btn primary">Voir mes projets</a>
    <a routerLink="/contact" class="btn secondary">Me contacter</a>
  </div>
</section>
<section class="projets-preview">
  <h3>Mes projets</h3>

  <div class="cards">
    <div class="card" routerLink="/projets#professionnel">
      <h4>Projets professionnels</h4>
      <p>Applications métier – code confidentiel</p>
    </div>

    <div class="card" routerLink="/projets#personnel">
      <h4>Projets personnels</h4>
      <p>Code open-source & démos</p>
    </div>
  </div>
</section>
-->
<!--<img src="assets/banniere.jpeg" alt="Ma photo" width="200" />-->
<section class="hero-section surface-50">

  <div class="hero-content text-center">
    <h1 class="hero-name">Mbayang NDAO</h1>
    <h2 class="hero-role">Développeuse Full Stack</h2>

    <p class="hero-stack">
      Angular · Django · Spring Boot
    </p>

    <p class="hero-intro">
      Je conçois des applications web robustes, maintenables et orientées métier.
    </p>

 <div class="flex justify-content-center gap-3 mt-4 flex-wrap">


      <p-button
        label="Voir mes projets"
        icon="pi pi-briefcase"
        routerLink="/projets"
        styleClass="p-button-primary p-button-rounded"
      ></p-button>

      <p-button
        label="Me contacter"
        icon="pi pi-envelope"
        routerLink="/contact"
        styleClass="p-button-outlined p-button-rounded"
      ></p-button>
    </div>
  </div>

</section>
<section class="projets-preview-section">

  <h3 class="section-title text-center">
    Mes projets
  </h3>

  <div class="grid mt-4">
    <div class="col-6 md:col-6">
      <p-card
        class="preview-card"
        routerLink="/projets#professionnel"
      >
        <div class="flex align-items-center gap-3">

          <i class="pi pi-building preview-icon"></i>
          <div>
            <h4>Projets professionnels</h4>
            <p>Applications métier – code confidentiel</p>
          </div>
        </div>
      </p-card>
    </div>

    <div class="col-6 md:col-6">
      <p-card
        class="preview-card"
        routerLink="/projets#personnel"
      >
        <div class="flex align-items-center gap-3">
          <i class="pi pi-code preview-icon"></i>
          <div>
            <h4>Projets personnels</h4>
            <p>Code open-source & démos</p>
          </div>
        </div>
      </p-card>
    </div>

  </div>

</section>

